<!DOCTYPE html>
<html>
<head>
    <style>
        body{font-size:150%;font-family:serif;color:#999999;background-color:#333333}
        table{width:100%}tr{margin-top:8px}tr:hover{background-color: black}
        a{text-decoration:none}a:link{color:pink}a:visited{color:hotpink}
        .main{margin-left:6%;margin-right:6%}
        svg{width: 32px; height:32px}
    </style>
</head>
<body>
    <div class="main">
    <h2><%- 0 === topPathName.length ? '/' : topPathName %> </h2>
    <table>
        <thead><tr>
                <td style="width: 32px;"></td>
                <td><a href="<%- topPathName %>/..">..</a></td>
                <td>文件大小</td>
                <td>创建时间</td>
                <td>修改时间</td>
        </tr></thead>
        <tbody>
        <% for(let item of listFiles) { %>
            <tr>
                <td><% if(item.size.length) { %>
                    <svg style="color: LightBlue;" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z" clip-rule="evenodd"></path></svg>
                <% } else { %>
                    <svg style="color: Goldenrod;" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z"></path><path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z"></path></svg>
                <% } %></td>
                <td><a href="<%- item.pathName %>"><%- item.name %></a></td>
                <td><%- item.size %></td>
                <td><%- item.ctime %></td>
                <td><%- item.mtime %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    </div>
</body>
</html>